<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Formir is open-source, pure CSS Framework for resposive web developing. Based on flexbox, complete and modular, fluid design, builded with Less." />
<meta name="keywords" content="formir, formir framework, css framework, open source css framework, pure css, pure css framework, flexbox framework, no js framework, fluid design, less framework"/>
<meta name="author" content="Konrad Kubrak" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="canonical" href="https://formir.io/">
<meta property="og:url" content="https://formir.io">
<meta property="og:type" content="website">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="theme-color" content="#281E2B">
<meta name="msapplication-navbutton-color" content="#281E2B">
<meta name="apple-mobile-web-app-status-bar-style" content="#281E2B">
<link rel="apple-touch-icon" sizes="57x57" href="/img/favico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/favico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favico/favicon-16x16.png">
<link rel="manifest" href="/img/favico/manifest.json">
<meta name="msapplication-TileColor" content="#281E2B">
<meta name="msapplication-TileImage" content="/img/favico/ms-icon-144x144.png">
<link rel="stylesheet" type="text/css" href="/css/application.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>