<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Formir - open source, pure CSS Framework - Plugins</title>
    {% include head.html %}
    {% include plugins/head.html %}
  </head>

  <body class="tabs">
    {{ content }}
    <footer class="side bottom display-block" style="position: static; box-sizing: border-box;">
      <div class="padding-1">
        <small class="h6"><a class="link" href="https://formir.io">Formir</a> plugins &reg; 2020 </small>
      </div>
    </footer>
    {% include ga.html %}
  </body>
</html>
